/* Logo */
.max-logo {
    background: no-repeat url("../../assets/max_logo.png");
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 100px;
}

/* Avatar img */
img.avatar {
    border-radius: 50%;
    width: 3.5em;
}

/* Round every img */
img {
    border-radius: 1rem;
}

code {
    border-radius: 1rem;
}

/* Text */
.muted {
    color: #666;
}

.bright {
    color: rgb(255, 196, 0);
}

.small {
    font-size: 80%;
}

.smaller {
    font-size: 60%;
}

.vertical-middle {
    vertical-align: middle;
}

/* Columns */

.container {
    display: flex;
}

.col {
    flex: 1;
}

/* Centered small code */
.small-code {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.inline-code {
    text-align: center;
}

ul.decimal li {
    list-style-type: decimal;
}